{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Events on {{ events.0.event_date|date:"F d, Y" }}
{% endblock %}
{% block content%}
<section>

</section>

<section>
    <div class="container">
        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h4>Events on {{ events.0.event_date|date:"F d, Y" }}</h4>
            <div>
                <a href="/"> <i class="bi bi-houses-fill"></i></a>
            </div>
        </div>
        <div class="row">
            {%if events%}
            {% for item in events %}
            <div class="col-lg-3">
                <div class="post-entry-1 lg">
                    <a href="{% url 'events:event' item.id  %}"> <img src="{{item.portrait.url}}" alt=""
                            class="img-fluid"></a>
                    <div class="post-meta"><span class="date"> <a
                                href="{% url 'events:categorylist' item.category.slug %}">
                                {{item.category}}</a></span><span class="mx-1"> &bullet;</span><span><a
                                href="{% url 'events:citylist' item.city.slug%}">{{item.city}}</a></span><span>
                            <br>{{item.event_date}} </span>
                    </div>
                    <h2> <a href="{% url 'events:event' item.id  %}"> {{item.title}}</a></h2>
                    <div class="d-flex align-items-center author">
                        <div class="photo">
                            <a href="{% url 'events:user_events' item.uploaded_by.username %}"> <img src="{{ item.uploaded_by.profile.image.url }}" alt=""
                                    class="img-fluid"></a>
                        </div>
                        <div class="name">
                            <a href="">
                                <h3 class="m-0 p-0"> <a href="{% url 'events:user_events' item.uploaded_by.username %}">{{item.uploaded_by}} </a></h3>
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            {%endfor%}
            {%else%}
            <p> No events available</p>
            {%endif%}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if events.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ events.previous_page_number }}">previous</a>
                {% endif %}

               

                {% if events.has_next %}
                <a href="?page={{ events.next_page_number }}">next</a>
                <a href="?page={{events.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</section>
{% endblock %}
