{% extends 'base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{% block title %}
Tags
{% endblock %}


{%block content%}

<section></section>
<section>
    <div class="container">
        <div class="section-header d-flex justify-content-between align-items-center mb-5">
            <h4> Tags</h4>
            <div>
            <a href="/"> <i class="bi bi-houses-fill"></i></a>
            </div>
        </div>
        <div class="row">
            {%if tags %}
            {%for item in tags%}
            <div class="col-lg-2">
                <div class="post-entry-1 lg">
                    <div class="post-meta">
                        <span class="aside-links list-unstyled"> <a href="{% url 'events:tagged_events' item.slug %}">
                                {{item.name}}</a></span>
                    </div>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <p> No tags available</p>
            {%endif%}
        </div>
    </div>
    <div class="text-start py-4">
        <div class="custom-pagination">
            {% if tags.has_previous %}
            <a class="first" href="?page=1">first</a>
            <a class='prev' href="?page={{ tags.previous_page_number }}">previous</a>
            {% endif %}
            {% if tags.has_next %}
            <a class="next" href="?page={{ tags.next_page_number }}">next</a>
            <a class="last" href="?page={{tags.paginator.num_pages }}">last</a>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}